@font-face {
    font-family: 'Titillium Web';
    src: url('../fonts/TitilliumWeb-Regular.ttf');
}
@font-face {
    font-family: 'Bebas';
    src: url('../fonts/BebasNeue.ttf');
}
body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
}

.actor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
}

.bar {
    width: 90vw;
    height: 1px;
    background-color: #5e5e5e;
}

.services, .why, .meth{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    padding: 50px;
}
.app {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    align-items: start;
    grid-auto-flow: column;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    background-color: #FFFFFF;
    margin: 0 50px 0 50px;
}

.app_1 {
    text-align: center;
    grid-column: 1 / span 2;
}

.app_2, .app_3 {
    margin-top: 50px;
    grid-row: 2;
}

.services img, .why img, .meth img, .app img {
    width: 20vw; 
    max-width: 300px; 
}
.services div, .why div, .meth div{
    margin: 0 50px 0 50px;
    flex: 1;
}

h1, p {
    margin: 0;
}
h1 {
    font-size: 2.5vw; 
    font-weight: bold;
    color: #333333; 
    font-family: bebas, sans-serif;
}

p, li{
    font-size: 1.3vw; 
    color: #666666; 
    line-height: 1.6; 
    font-family: 'Titillium Web', sans-serif;
}

ul {
    padding: 0 0 0 20px;
}

.services div, .why div, .meth div{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    padding: 20px; 
    background-color: #FFFFFF;
}
@media screen and (max-width: 768px) {
    .actor{
        display: flex;
        flex-direction: column;
    }
    .services,  .meth {
        display: flex;
        flex-direction: column;
    }.why{
        display: flex;
        flex-direction: column-reverse;
    }
    .app {
        display: flex;
        flex-direction: column;
        align-items: center; 
        padding: 20px; 
    }
    .app h1{
        text-align: left!important;
    }

    .app_1 {
        text-align: center;
        grid-column: 1; 
        grid-row: 1; 
        margin-top: 20px; 
    }

    .app_2, .app_3 {
        margin-top: 20px; /* Espacement du haut */
    }
    .app .app_2>h2,.app .app_3>h2 {
        font-size: 1.4rem!important;
        line-height: 1.2;
    }
    .services img, .why img, .meth img, .app img {
        width: 45vw; 
        max-width: 300px;
    }
    .services div, .why div, .meth div, .app div {
        margin: 10px 0 0 0;
        flex: 1;
    }
    h1 {
        font-size: 5vw; 
        font-weight: bold;
        color: #333333; 
    }
    
    p,li{
        font-size: 3.5vw; 
        color: #666666; 
        line-height: 1.6; 
    }
    .floue body {
        filter: blur(5px);
    }
    .floue .home-container nav {
        filter: none; 
    }
}